:root {
    --backgroung-color: #FFF;
    --accent-color:  #FFFFFF;
    --additional-accent: #2196F3;
    --text-color: #757575;
    --footer: #2F303A;
    --background-section: #F5F4FA;
    --head-text: #212121;
    --href-moments: #2196F3;
    --web-studio: #000000; 
}